body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
    font-family: Arial, sans-serif;
}

img {
    width: 192px;
    height: 192px;
    margin-bottom: 20px;
}

h1 {
    color: #333;
    font-size: 48px;
}